@model CslApoio.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Funcionario - @Html.DisplayFor(model => model.Nome)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SobreNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SobreNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passaporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passaporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgaoEmissor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgaoEmissor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificado.Opcoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escolaridade.Opcoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil.Opcoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade.Opcoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo.Opcoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terceiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terceiro.Opcoes)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a asp-action="Index">Voltar</a>
</div>
